body {
  font-family: 'Satisfy', cursive;
}

.title{
  background-color: #00bd75;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  padding: 3px;
}

.background {
  background-image: url("../assets/images/sunny-day.jpg");
  background-repeat: no-repeat;
  background-position: center 55%;
  width: 100%;
  height: 588px;
}

.kitten  {
  content: url(../assets/images/kitten-medium.png);
  width: 40%;
  margin-top: 25%;
  text-align: center;
  height: 50%;
  margin-left: 28%;
}

/* ----------------- Para ordenadores ----------------- */
@media screen and (max-width: 1200px) {
  .background {
    background-image: url("../assets/images/sunny-day.jpg");
  }
  .kitten {
    content: url(../assets/images/kitten-medium.png);
  }
}

/* ----------------- Para Tablets ----------------- */
@media screen and (max-width: 992px) {
  .background {
    background-image: url("../assets/images/night.jpg");
  }
  .kitten {
    content: url(../assets/images/kitten-small.png);
  }
}
/* ----------------- Para Telefonos ----------------- */
@media screen and (max-width: 768px) {
  .background {
    background-image: url("../assets/images/dawn.png");
    height: 500px;
  }
  .kitten {
    content: url(../assets/images/kitten-large.png);
    width: 80%;
    height: 50%;
    margin-left: 8%;
    margin-top: 55%;
  } 
}



